*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    min-height:100vh;
    padding:30px;
}

.container{
    max-width:1200px;
    margin:auto;
}

h1{
    text-align:center;
    color:white;
    margin-bottom:25px;
}

.input-box{
    display:flex;
    gap:10px;
    margin-bottom:25px;
}

input{
    flex:1;
    padding:12px;
    border:none;
    border-radius:8px;
    font-size:16px;
    background: #e0e7ec;
}

.add-btn{
    padding:12px 20px;
    border:none;
    border-radius:8px;
    background:#28a745;
    color:white;
    cursor:pointer;
    font-size:16px;
}

.add-btn:hover{
    background:#218838;
}

.board{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.column{
    background:white;
    border-radius:12px;
    padding:15px;
    box-shadow:0 4px 12px rgba(0,0,0,.2);
}

.column h2{
    text-align:center;
    margin-bottom:15px;
}

.task{
    background:#f8f9fa;
    padding:10px;
    border-radius:8px;
    margin-bottom:10px;
    border-left:5px solid #007bff;
}

.task p{
    margin-bottom:10px;
    word-wrap:break-word;
}

.btn-group{
    display:flex;
    flex-wrap:wrap;
    gap:5px;
}

button{
    border:none;
    padding:6px 10px;
    border-radius:6px;
    cursor:pointer;
    color:white;
}

.start{background:#ff9800;}
.complete{background:#28a745;}
.delete{background:#dc3545;}
.restore{background:#007bff;}
.deletedpermanently{background:#b7b7b8 ;}